.wrapper {
    margin: 0 auto;
    width: 1240px;
}
a {
    color: white;
    text-decoration: none;
}
.shortcut {
    height: 52px;
    background-color: #333;
}
.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
    /* background-color: pink; */
}
.shortcut ul {
    display: flex;
    line-height: 52px;
}
.shortcut a {
    padding: 0 15px;
    font-size: 14px;
    border-right: 1px solid #999;
}
.shortcut li:last-child a {
    border-right: 0;
}
.shortcut li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}
.shortcut li .login {
    color: #5EB69C;
}